button {
  height: 32px;
  align-self: center;
  margin: 4px;
  padding: 2px;
}

.check-boxes {
  display: flex;
  flex-direction: column;
}

#options {
  display: flex;
  flex-wrap: wrap;
}

.option {
  margin: 8px;
}

.flex-row {
  display: flex;
}
